.header {
    background-color: rgb(106, 162, 247);
    height: 100px;
    text-align: center;
    margin-top: 0px;


}

.card {
    width: 300px;
    background-color: blueviolet;
}

.feedback {
    width: 300px;


}

.form {
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    /* height: 500px; */
}

.input-data {
    /* width: 100%;
    background-color: blueviolet; */
}

.ratings {
    display: flex;
    /* transform: scale(1.5); */
    padding: 20px 20px;
}

ul,
ol {
    list-style: none;
    padding: 0;
    /* Optional: removes default padding */
    margin: 0;
    /* Optional: removes default margin */
}